@page "/"
@inject IDialogService DialogService

<div class="is-flex is-flex-direction-column is-align-items-center " style="min-height: 90vh">
    <PageTitle>Home</PageTitle>

    <MudText Typo="Typo.h3" GutterBottom="true">Welcome to the experiment.</MudText>
    <br/>
    <MudText>Are you a teacher or a student?</MudText>
    <br/>
    <MudPaper>
        <MudButton OnClick="OpenDialogAsync" Class="m-3" Variant="Variant.Filled" Color="Color.Primary" Style="height: 200px; width: 200px">
            <MudText Typo="Typo.h4"><b>Teacher</b></MudText>
        </MudButton>
        
        <MudButton Class="m-3" Variant="Variant.Filled" Color="Color.Secondary" Style="height: 200px; width: 200px">
            <MudText Typo="Typo.h4"><b>Student</b></MudText>
        </MudButton>
    </MudPaper>
    
</div>