@page "/"
@using Microsoft.AspNetCore.Components.Authorization
@inject IDialogService DialogService
@inject AuthenticationStateProvider AuthStateProvider
@inject NavigationManager NavigationManager

<PageTitle>Home Page</PageTitle>

<div class="is-flex is-flex-direction-column is-align-items-center " style="min-height: 90vh">
    <PageTitle>Home</PageTitle>

    <MudText Typo="Typo.h3" GutterBottom="true">Welcome to the experiment.</MudText>
    <br/>
    <MudText>Are you a teacher or a student?</MudText>
    <br/>
    <MudPaper>
        <MudButton OnClick="OpenTeacherDialog" Class="m-3" Variant="Variant.Filled" Color="Color.Primary" Style="height: 12.5rem; width: 12.5rem">
            <MudText Typo="Typo.h4"><b>Teacher</b></MudText>
        </MudButton>
        
        <MudButton OnClick="OpenStudentDialog" Class="m-3" Variant="Variant.Filled" Color="Color.Secondary" Style="height: 12.5rem; width: 12.5rem">
            <MudText Typo="Typo.h4"><b>Student</b></MudText>
        </MudButton>
    </MudPaper>
    
</div>