@page "/"
@using ComputingProject.Client.Layout
@using Microsoft.AspNetCore.Components.Authorization
@inject IDialogService DialogService
@inject AuthenticationStateProvider AuthStateProvider
@inject NavigationManager NavigationManager
@layout HomeLayout

<PageTitle>Home Page</PageTitle>

<div class="is-flex is-flex-direction-column is-align-items-center" style="height: 100%">
    <PageTitle>Home</PageTitle>
    @if (HasReadDocuments)
    {
        <MudText Typo="Typo.h3" GutterBottom="true">Welcome to the experiment.</MudText>
        <br/>
        <MudText>Are you a teacher or a student?</MudText>
        <br/>
        <MudStack Row="true">
            <MudButton OnClick="OpenTeacherDialog" Class="m-3" Variant="Variant.Filled" Color="Color.Primary"
                       Style="height: 12.5rem; width: 12.5rem">
                <MudText Typo="Typo.h4"><b>Teacher</b></MudText>
            </MudButton>

            <MudButton OnClick="OpenStudentDialog" Class="m-3" Variant="Variant.Filled" Color="Color.Secondary"
                       Style="height: 12.5rem; width: 12.5rem">
                <MudText Typo="Typo.h4"><b>Student</b></MudText>
            </MudButton>
        </MudStack>
    }
    else
    {
        <div class="is-flex is-flex-direction-column is-align-items-center" style="width: 50%">
            <MudText Typo="Typo.h3"><b>BEFORE YOU START</b></MudText>
            <br/>
            <div>
                <MudText>Thank you for agreeing to take part in this experiment!</MudText>
                <MudText><b>Before continuing, please make sure to read through the following documents in their entirety:</b></MudText>
                <br/>
                <MudText>-  The <b >PIS (Participant Information Sheet) DOCUMENT</b> informs you of what will happen in this experiment, and explain how your data will be used.</MudText>
                <MudText>-  The <b >CONSENT FORM</b> will outline what you agree to by continuing.</MudText>
                <br/>
                <MudText>Before you leave, you will be prompted to fill out a <b>QUESTIONNAIRE</b>.</MudText>
                <MudText>This questionnaire is <b >completely confidential.</b> NO personal data will be collected.</MudText>
                <br/>
                <MudText>All data moved around during this test (questions, hands up, answers) are completely transient and will NOT be stored when the experiment ends.</MudText>
            </div>
            <br/>
            <br/>
            <MudStack Row="true">
                <MudButton Href="/documents/PIS.pdf" OnClick="() => HasReadPIS = true" Target="_blank" Variant="Variant.Filled" Color="Color.Primary">PIS Document</MudButton>
                <MudButton Href="/documents/Consent.pdf" OnClick="() => HasReadConsentForm = true" Target="_blank" Variant="Variant.Filled" Color="Color.Primary">Consent form</MudButton>
            </MudStack>
            <br/>
            @if (HasReadPIS && HasReadConsentForm)
            {
                <MudStack Row="true">
                    <MudCheckBox @bind-Value="HasAgreedToConditions"></MudCheckBox>
                    <MudText Align="Align.Center" Class="is-align-self-center"><b>BY PRESSING THE CHECKBOX AND CONTINUING, YOU CONSENT TO TAKING PART IN THIS EXPERIMENT.</b></MudText> 
                </MudStack>
                if (HasAgreedToConditions)
                {
                    <MudButton Size="Size.Large" OnClick="() => HasReadDocuments = true" Variant="Variant.Filled" Color="Color.Secondary">Continue</MudButton>
                }
            }
            else
            {
                <MudText Color="Color.Error"><b>You must read both documents before continuing (click both buttons).</b></MudText>
            }
        </div>
    }

    <MudSpacer/>
    <MudPaper Class="p-4 d-flex is-flex-direction-row is-align-items-center" Height="4rem" Width="100%">
        Jean-Sebastien Prenovost - 2025
        <MudSpacer></MudSpacer>
        <MudLink>PIS Document</MudLink>
        <MudLink Class="ml-3">Consent Form</MudLink>
    </MudPaper>
</div>