@page "/teacher"
@using ComputingProject.Client.Services
@using Microsoft.AspNetCore.Components.Authorization
@using ComputingProject.Client.Components
@rendermode InteractiveWebAssembly
@inject ISnackbar Snackbar
@inject IClassroomService ClassroomService
@inject IClassroomServer ClassroomServer
@inject NavigationManager NavigationManager
@inject AuthenticationStateProvider AuthenticationStateProvider

<MudText Align="Align.Center" Typo="Typo.h3"><b>Teacher View</b></MudText>

<br/>

<MudGrid>
    <TeacherGridItem>
        <MudText Typo="Typo.h4"><b>Manage Classroom</b></MudText>
        <MudText GutterBottom="true" Typo="Typo.h6">Switch States</MudText>
        <MudPaper Class="mb-3" Elevation="0">
            <MudGrid Spacing="2">
                <MudItem>
                    <MudButton Variant="Variant.Filled" Color="LectureButtonColor" OnClick="SetLectureState">
                        Lecture
                    </MudButton>
                </MudItem>
                <MudItem>
                    <MudButton Variant="Variant.Filled" Color="SeminarButtonColor" OnClick="SetSeminarState">
                        Seminar
                    </MudButton>
                </MudItem>
            </MudGrid>
        </MudPaper>
        <MudText Class="mt-3">Student List (@StudentCount joined):</MudText>
        <MudPaper Style="@($"background:{Theme.PaletteDark.DarkDarken};")"  Height="12.5rem" MaxHeight="12.5rem" Class="is-overflow-y-scroll mb-2"  Elevation="0">
            <MudPaper Elevation="0" Style="@($"background:{Color.Transparent};")">
                <ul>
                    @foreach (string student in JoinedStudents)
                    {
                        <li>@student</li>
                    }
                    <li>Fake Student</li>
                </ul>
            </MudPaper>
        </MudPaper>
        <MudButton Variant="Variant.Filled" FullWidth="false" Color="Color.Tertiary" OnClick="ClassroomServer.GetStudents">Refresh Student
            List
        </MudButton>
    </TeacherGridItem>
    <TeacherGridItem>
        Hello my stupid crackers
    </TeacherGridItem>
    <TeacherGridItem>
        Hello my stupid crackers
    </TeacherGridItem>
    <TeacherGridItem>
        Hello my stupid crackers
    </TeacherGridItem>
</MudGrid>

